<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WaterWatch</title>

    <link rel="stylesheet" href="~/app/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/app/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/app/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/app/admin/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/app/admin/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body>
    <div class="wrapper">

    </div>
    <header>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WaterWatch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
